<form action="/items/create" method="post">
    <div class="input">
        <label for="name">Название</label>
        <input type="text" id="name" name="name" required="true">
    </div>
    <div class="input">
        <label for="description">Описание</label>
        <input type="text" id="description" name="description" required="true">
    </div>
    <button type="submit">Добавить предмет.</button>
</form>