<form action="/users/register" method="post">
    <div class="input">
        <label for="username">Название</label>
        <input type="text" id="username" name="username" required="true">
    </div>
    <div class="input">
        <label for="password">Описание</label>
        <input type="text" id="password" name="password" required="true">
    </div>
    <button type="submit">Регистрация.</button>
</form>